    <!-- Slider -->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://images.unsplash.com/photo-1547036512-2e7e133914fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" alt="First slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- /slider -->

    <!-- studio info -->
    <div class="border-bottom-light bg-white">
      <div class="container d-flex align-items-center justify-content-between py-3">
        <div class="row">
          <div class="col-md-8 p-3">
            <h3>Mission Loft Creative Studio + Event Venue</h3>
            <p>Need an inspiring space for the day!  We've got you covered! This Mission loft is a light filled daily rental for private video / photo productions. The standard rental period is between 8AM and 8PM.
It is a light filled open floor plan (dining, kitchen and living room) that can host up to a 15 crew production in casual San Francisco style. <a href="url">Read more</a></p>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </div>
    <!-- /studio info -->

    <!-- studio checkout-->
    <div class="container">
      <div class="row">
        <div class="col-md-8 py-3">


          <!-- make a card -->
          <div class="card card p-3 mb-3">
            <p><strong>BLABLA</strong></p>
            <p><small>BLABLA</small></p>
            <span>BLABLA</span>
          </div>

          <!-- /menu -->
        </div>

        <div class="col-md-4">
          <!-- checkout -->
            <div class="card p-3 m-3  sticky-top">

            <div class="d-flex align-items-center mt-3">
              <p><strong><h2>$169/hr</h2></strong></p>
            </div>

            <div class="d-flex justify-content-between mt-3">
            </div>

            <div class="d-flex justify-content-between mt-3">
            </div>

            <div class="d-flex justify-content-between mt-3">
            </div>
            <!-- make this a full length button -->
            <a href="#" class="btn btn-primary">Checkout</a>
        </div>
          <!-- /checkout -->
        </div>
      </div>

    <!-- Including Bootstrap JS (with its Popper.js / jQuery dependency) so that dynamic components work -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  </body>
</html>

<%= link_to "All Spaces" , spaces_path  %>
<%= link_to "Book now" , new_space_reservation_path(@space)  %>

