<div class="usercard">
  <img src="https://res.cloudinary.com/doytwihfl/image/upload/v1582922730/T02NE0241-USA30KXB3-g67656ac417f-512_widzih.jpg" alt="John" style="width:100%">
  <h1>John Doe</h1>
  <p class="title">CEO & Founder, Example</p>
  <p>Harvard University</p>
  <a href="#"><i class="fas fa-shapes"></i>
  <a href="#"><i class="fas fa-camera-retro"></i>
  <a href="#"><i class="fas fa-film"></i>
  <a href="#"><i class="fas fa-guitar"></i>
  <p><button>Contact</button></p>
</div>
