<!-- ========== FOOTER ========== -->
  <footer class="bg-dark pt-9">
    <div class="container space-2">
      <div class="row justify-content-md-between">
        <div class="col-6 col-md-3 col-lg-2 order-lg-3 mb-7 mb-lg-0">
          <h3 class="h6 text-white mb-3">About</h3>

          <!-- List Group -->
          <div class="list-group list-group-flush list-group-transparent">
            <a class="list-group-item list-group-item-action" href="../pages/about-agency.html">About Agency</a>
            <a class="list-group-item list-group-item-action" href="../pages/about-start-up.html">About Start-Up</a>
            <a class="list-group-item list-group-item-action" href="../pages/services-agency.html">Services Agency</a>
            <a class="list-group-item list-group-item-action" href="../pages/services-start-up.html">Services Start-Up</a>
          </div>
          <!-- End List Group -->
        </div>

        <div class="col-6 col-md-3 col-lg-2 order-lg-4 mb-7 mb-lg-0">
          <h3 class="h6 text-white mb-3">Company</h3>

          <!-- List Group -->
          <div class="list-group list-group-flush list-group-transparent">
            <a class="list-group-item list-group-item-action" href="../pages/contacts-agency.html">Contact Us</a>
            <a class="list-group-item list-group-item-action" href="../pages/help.html">Help</a>
            <a class="list-group-item list-group-item-action" href="../pages/careers.html">Careers</a>
            <a class="list-group-item list-group-item-action" href="../pages/terms.html">Terms &amp; Conditions</a>
            <a class="list-group-item list-group-item-action" href="../pages/privacy.html">Privacy &amp; Policy</a>
          </div>
          <!-- End List Group -->
        </div>

        <div class="col-6 col-md-3 col-lg-2 order-lg-5 mb-7 mb-lg-0">
          <h3 class="h6 text-white mb-3">Shop</h3>

          <!-- List Group -->
          <div class="list-group list-group-flush list-group-transparent">
            <a class="list-group-item list-group-item-action" href="../shop/classic.html">Classic</a>
            <a class="list-group-item list-group-item-action" href="../shop/single-product.html">Single Product</a>
            <a class="list-group-item list-group-item-action" href="../shop/checkout.html">Checkout</a>
          </div>
          <!-- End List Group -->
        </div>

        <div class="col-6 col-md-3 col-lg-2 order-lg-6 mb-7 mb-lg-0">
          <h3 class="h6 text-white mb-3">Social</h3>

          <!-- List -->
          <div class="list-group list-group-flush list-group-transparent">
            <a class="list-group-item list-group-item-action" href="#">
              <i class="fab fa-facebook-f min-width-3 text-center mr-2"></i>
              Facebook
            </a>
            <a class="list-group-item list-group-item-action" href="#">
              <i class="fab fa-twitter min-width-3 text-center mr-2"></i>
              Twitter
            </a>
            <a class="list-group-item list-group-item-action" href="#">
              <i class="fab fa-dribbble min-width-3 text-center mr-2"></i>
              Dribbble
            </a>
            <a class="list-group-item list-group-item-action" href="#">
              <i class="fab fa-github min-width-3 text-center mr-2"></i>
              GitHub
            </a>
          </div>
          <!-- End List -->
        </div>

        <div class="col-lg-4 order-lg-1 d-flex align-items-start flex-column">
          <!-- Logo -->
          <a class="d-inline-block mb-5" href="index.html" aria-label="Space">
            <img src="../../theme/svg/logos/logo-short-white.svg" alt="Logo" style="width: 40px; max-width: 100%;">
          </a>
          <!-- End Logo -->

          <!-- Language -->
          <div class="btn-group d-block position-relative mb-4 mb-lg-auto">
            <a id="footerLanguageInvoker" class="btn-text-secondary d-flex align-items-center u-unfold--language-btn rounded py-2 px-3" href="javascript:;" role="button"
               aria-controls="footerLanguage"
               aria-haspopup="true"
               aria-expanded="false"
               data-unfold-event="click"
               data-unfold-target="#footerLanguage"
               data-unfold-type="css-animation"
               data-unfold-duration="300"
               data-unfold-delay="300"
               data-unfold-hide-on-scroll="false"
               data-unfold-animation-in="slideInUp"
               data-unfold-animation-out="fadeOut">
              <span class="font-size-14">English</span>
              <i class="fa fa-angle-down u-unfold__icon-pointer u-unfold--language-icon-pointer ml-4"></i>
            </a>

            <!-- Content -->
            <div id="footerLanguage" class="u-unfold u-unfold--language bottom-0 left-0" aria-labelledby="footerLanguageInvoker">
              <div class="py-6 px-5">
                <h4 class="h6 mb-4">Select your language</h4>

                <div class="row">
                  <div class="col-6">
                    <!-- List of Languages -->
                    <div class="list-group list-group-borderless list-group-flush">
                      <a class="active d-flex align-items-center list-group-item list-group-item-action" href="#">
                        <img class="max-width-3 mr-2" src="../../theme/vendor/flag-icon-css/flags/4x3/us.svg" alt="United States Flag">
                        English
                      </a>
                      <a class="d-flex align-items-center list-group-item list-group-item-action" href="#">
                        <img class="max-width-3 mr-2" src="../../theme/vendor/flag-icon-css/flags/4x3/fr.svg" alt="France Flag">
                        Français
                      </a>
                      <a class="d-flex align-items-center list-group-item list-group-item-action" href="#">
                        <img class="max-width-3 mr-2" src="../../theme/vendor/flag-icon-css/flags/4x3/de.svg" alt="Germany Flag">
                        Deutsch
                      </a>
                      <a class="d-flex align-items-center list-group-item list-group-item-action" href="#">
                        <img class="max-width-3 mr-2" src="../../theme/vendor/flag-icon-css/flags/4x3/pt.svg" alt="Portugal Flag">
                        Português
                      </a>
                    </div>
                    <!-- End List of Languages -->
                  </div>

                  <div class="col-6">
                    <!-- List of Languages -->
                    <div class="list-group list-group-borderless list-group-flush">
                      <a class="d-flex align-items-center list-group-item list-group-item-action" href="#">
                        <img class="max-width-3 mr-2" src="../../theme/vendor/flag-icon-css/flags/4x3/es.svg" alt="Spain Flag">
                        Español
                      </a>
                      <a class="d-flex align-items-center list-group-item list-group-item-action" href="#">
                        <img class="max-width-3 mr-2" src="../../theme/vendor/flag-icon-css/flags/4x3/it.svg" alt="Italy Flag">
                        Italiano
                      </a>
                      <a class="d-flex align-items-center list-group-item list-group-item-action" href="#">
                        <img class="max-width-3 mr-2" src="../../theme/vendor/flag-icon-css/flags/4x3/ru.svg" alt="Russian Flag">
                        Русский
                      </a>
                      <a class="d-flex align-items-center list-group-item list-group-item-action" href="#">
                        <img class="max-width-3 mr-2" src="../../theme/vendor/flag-icon-css/flags/4x3/tr.svg" alt="Turkey Flag">
                        Türkçe
                      </a>
                    </div>
                    <!-- End List of Languages -->
                  </div>
                </div>
              </div>

              <!-- Signup -->
              <a class="u-unfold--language__link p-5" href="../pages/signup-simple.html">
                <small class="d-block text-muted mb-1">More languages coming soon.</small>
                <small class="d-block">Signup to get notified <i class="fa fa-arrow-right u-unfold__icon-pointer"></i></small>
              </a>
              <!-- End Signup -->
            </div>
            <!-- End Content -->
          </div>
          <!-- End Language -->

          <p class="small text-muted">All rights reserved. &copy; Space. 2019 Htmlstream.</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- ========== END FOOTER ========== -->

  <!-- ========== SECONDARY CONTENTS ========== -->
  <!-- Signup Modal Window -->
  <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content border-0">
        <div class="modal-body p-5">
          <form class="js-validate">
            <!-- Signin -->
            <div id="signin" data-target-group="idForm">
              <!-- Title -->
              <header class="text-center mb-5">
                <h2 class="h4 mb-0">Please sign in</h2>
                <p>Signin to manage your account.</p>
              </header>
              <!-- End Title -->

              <!-- Input -->
              <div class="js-form-message mb-3">
                <div class="js-focus-state form">
                  <input type="email" class="form-control form__input" name="email" required
                         placeholder="Email"
                         aria-label="Email"
                         data-msg="Please enter a valid email address."
                         data-error-class="u-has-error"
                         data-success-class="u-has-success">
                </div>
              </div>
              <!-- End Input -->

              <!-- Input -->
              <div class="js-form-message mb-3">
                <div class="js-focus-state form">
                  <input type="password" class="form-control form__input" name="password" required
                         placeholder="Password"
                         aria-label="Password"
                         data-msg="Your password is invalid. Please try again."
                         data-error-class="u-has-error"
                         data-success-class="u-has-success">
                </div>
              </div>
              <!-- End Input -->

              <div class="row mb-3">
                <div class="col-6">
                  <!-- Checkbox -->
                  <div class="custom-control custom-checkbox d-flex align-items-center text-muted">
                    <input type="checkbox" class="custom-control-input" id="rememberMeCheckbox">
                    <label class="custom-control-label" for="rememberMeCheckbox">
                      Remember Me
                    </label>
                  </div>
                  <!-- End Checkbox -->
                </div>

                <div class="col-6 text-right">
                  <a class="js-animation-link float-right" href="javascript:;"
                     data-target="#forgotPassword"
                     data-link-group="idForm"
                     data-animation-in="fadeIn">Forgot Password?</a>
                </div>
              </div>

              <div class="mb-3">
                <button type="submit" class="btn btn-block btn-primary">Signin</button>
              </div>

              <div class="text-center mb-3">
                <p class="text-muted">
                  Do not have an account?
                  <a class="js-animation-link" href="javascript:;"
                     data-target="#signup"
                     data-link-group="idForm"
                     data-animation-in="fadeIn">Signup
                  </a>
                </p>
              </div>

              <!-- Divider -->
              <div class="text-center u-divider-wrapper my-3">
                <span class="u-divider u-divider--xs u-divider--text">OR</span>
              </div>
              <!-- End Divider -->

              <!-- Signin Social Buttons -->
              <div class="row mx-gutters-2 mb-4">
                <div class="col-sm-6 mb-2 mb-sm-0">
                  <button type="button" class="btn btn-block btn-facebook text-nowrap">
                    <i class="fab fa-facebook-f mr-2"></i>
                    Signin with Facebook
                  </button>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn btn-block btn-twitter">
                    <i class="fab fa-twitter mr-2"></i>
                    Signin with Twitter
                  </button>
                </div>
              </div>
              <!-- End Signin Social Buttons -->
            </div>
            <!-- End Signin -->

            <!-- Signup -->
            <div id="signup" style="display: none; opacity: 0;" data-target-group="idForm">
              <!-- Title -->
              <header class="text-center mb-5">
                <h2 class="h4 mb-0">Please sign up</h2>
                <p>Fill out the form to get started.</p>
              </header>
              <!-- End Title -->

              <!-- Input -->
              <div class="js-form-message mb-3">
                <div class="js-focus-state form">
                  <input type="email" class="form-control form__input" name="email" required
                         placeholder="Email"
                         aria-label="Email"
                         data-msg="Please enter a valid email address."
                         data-error-class="u-has-error"
                         data-success-class="u-has-success">
                </div>
              </div>
              <!-- End Input -->

              <!-- Input -->
              <div class="js-form-message mb-3">
                <div class="js-focus-state form">
                  <input type="password" class="form-control form__input" name="password" id="password" required
                         placeholder="Password"
                         aria-label="Password"
                         data-msg="Your password is invalid. Please try again."
                         data-error-class="u-has-error"
                         data-success-class="u-has-success">
                </div>
              </div>
              <!-- End Input -->

              <!-- Input -->
              <div class="js-form-message mb-3">
                <div class="js-focus-state form">
                  <input type="password" class="form-control form__input" name="confirmPassword" required
                         placeholder="Confirm Password"
                         aria-label="Confirm Password"
                         data-msg="Password does not match the confirm password."
                         data-error-class="u-has-error"
                         data-success-class="u-has-success">
                </div>
              </div>
              <!-- End Input -->

              <div class="mb-3">
                <button type="submit" class="btn btn-block btn-primary">Signup</button>
              </div>

              <div class="text-center mb-3">
                <p class="text-muted">
                  Have an account?
                  <a class="js-animation-link" href="javascript:;"
                     data-target="#signin"
                     data-link-group="idForm"
                     data-animation-in="fadeIn">Signin
                  </a>
                </p>
              </div>

              <!-- Divider -->
              <div class="text-center u-divider-wrapper my-3">
                <span class="u-divider u-divider--xs u-divider--text">OR</span>
              </div>
              <!-- End Divider -->

              <!-- Signup Social Buttons -->
              <div class="row mx-gutters-2 mb-4">
                <div class="col-sm-6 mb-2 mb-sm-0">
                  <button type="button" class="btn btn-block btn-facebook text-nowrap">
                    <i class="fab fa-facebook-f mr-2"></i>
                    Signup with Facebook
                  </button>
                </div>
                <div class="col-sm-6">
                  <button type="button" class="btn btn-block btn-twitter">
                    <i class="fab fa-twitter mr-2"></i>
                    Signup with Twitter
                  </button>
                </div>
              </div>
              <!-- End Signup Social Buttons -->
            </div>
            <!-- End Signup -->

            <!-- Forgot Password -->
            <div id="forgotPassword" style="display: none; opacity: 0;" data-target-group="idForm">
              <!-- Title -->
              <header class="text-center mb-5">
                <h2 class="h4 mb-0">Recover account</h2>
                <p>Enter your email address and an email with instructions will be sent to you.</p>
              </header>
              <!-- End Title -->

              <!-- Input -->
              <div class="js-form-message mb-3">
                <div class="js-focus-state form">
                  <input type="email" class="form-control form__input" name="email" required
                         placeholder="Email"
                         aria-label="Email"
                         data-msg="Please enter a valid email address."
                         data-error-class="u-has-error"
                         data-success-class="u-has-success">
                </div>
              </div>
              <!-- End Input -->

              <div class="mb-3">
                <button type="submit" class="btn btn-block btn-primary">Recover Account</button>
              </div>

              <div class="text-center mb-3">
                <p class="text-muted">
                  Have an account?
                  <a class="js-animation-link" href="javascript:;"
                     data-target="#signin"
                     data-link-group="idForm"
                     data-animation-in="fadeIn">Signin
                  </a>
                </p>
              </div>
            </div>
            <!-- End Forgot Password -->
          </form>
        </div>

        <button type="button" class="close position-absolute-top-right-0 mt-4 mr-4" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="svg-icon svg-icon-xs text-muted"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></i></span>
        </button>
      </div>
    </div>
  </div>
  <!-- End Signup Modal Window -->
  <!-- ========== END SECONDARY CONTENTS ========== -->
