<div class="container">
  <div class="row">
    <div class="col-lg" >
      <h1>Your next masterpiece starts here.</h1>
      <h4>Rent and Sublet F'in Dope Creative Spaces.</h4>
       <div class="col-lg pt-3" >
        <div class="form-inline justify-content-center">
      <%= form_tag spaces_path, method: :get do %>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find your space"
                                      %>
      <%= submit_tag "Search", class: "btn btn-dark" %>
      <% end %></%>
      </div>
      </div>
    </div>
  </div>
</div>
<footer class="mastfoot">
        <div class="inner">
          <p>Fueled by the brogrammers: @max, @mau, @pedro, @joselito</p>
        </div>
      </footer>
