 <%= render "shared/header_search" %>
    <!-- Experiences -->
    <div class="bgxp text-white space-2 overflow-hidden">
      <div class="container">
        <div class="row no-gutters align-items-center pb-5">
          <div class="col-lg-5 mb-5 mb-lg-0">
            <h6 class="text-uppercase font-weight-medium letter-spacing-0_06 mb-3">More than spaces. Experiences</h6>
            <h2 class="text-lh-xs mb-4">Find the perfect creative space for your next project</h2>
            <p class="text-white-70">We take care of curating the best creative spaces in town so you can concentrate on your next masterpiece.</p>

            <!-- Gallarie's arrows -->
            <div id="sliderSyncingThumb" class="js-slick-carousel u-slick pt-9 mt-6"
                 data-infinite="true"
                 data-slides-show="1"
                 data-is-thumbs="true"
                 data-nav-for="#sliderSyncingNav"
                 data-arrows-classes="u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle"
                 data-arrow-left-classes="fa fa-arrow-left u-slick__arrow-classic-inner bg-white text-dark left-0"
                 data-arrow-right-classes="fa fa-arrow-right u-slick__arrow-classic-inner bg-white text-dark right-0" style="width: 90px;">
              <div class="js-slide d-none">
                <img class="img-fluid" src="../../theme/img/demo/real-estate/gallery-1.jpg" alt="Image Description">
              </div>

              <div class="js-slide d-none">
                <img class="img-fluid" src="../../theme/img/demo/real-estate/gallery-2.jpg" alt="Image Description">
              </div>

              <div class="js-slide d-none">
                <img class="img-fluid" src="../../theme/img/demo/real-estate/gallery-3.jpg" alt="Image Description">
              </div>

              <div class="js-slide d-none">
                <img class="img-fluid" src="../../theme/img/demo/real-estate/gallery-4.jpg" alt="Image Description">
              </div>

              <div class="js-slide d-none">
                <img class="img-fluid" src="../../theme/img/demo/real-estate/gallery-5.jpg" alt="Image Description">
              </div>

              <div class="js-slide d-none">
                <img class="img-fluid" src="../../theme/img/demo/real-estate/gallery-6.jpg" alt="Image Description">
              </div>


            </div>
            <!-- End Gallarie's arrows -->
          </div>

          <div class="col-lg-6 offset-lg-1">
            <div class="position-relative h-100 vw-lg-50 overflow-hidden">
              <!-- Slick Carousel -->
              <div id="sliderSyncingNav" class="js-slick-carousel js-slick-gallery u-slick u-slick--equal-height u-slick--gutters-3 mr-lg-n9"
                   data-infinite="true"
                   data-slides-show="4"
                   data-center-mode="false"
                   data-nav-for="#sliderSyncingThumb"
                   data-responsive='[{
                     "breakpoint": 1442,
                     "settings": {
                       "slidesToShow": 4
                     }
                   }, {
                     "breakpoint": 1441,
                     "settings": {
                       "slidesToShow": 3
                     }
                   }, {
                     "breakpoint": 992,
                     "settings": {
                       "slidesToShow": 3
                     }
                   }, {
                     "breakpoint": 768,
                     "settings": {
                       "slidesToShow": 2
                     }
                   }, {
                     "breakpoint": 300,
                     "settings": {
                       "slidesToShow": 1
                     }
                   }]'>
                <div class="js-slide my-3 lift-lg shadow-2-sm-hover">
                  <a class="w-100 card bg-img-hero border-0 gradient-overlay-half-black-v2 min-height-320 text-white rounded-pseudo p-3" href="#" style="background-image: url(https://images.unsplash.com/photo-1512813498716-3e640fed3f39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=666&q=80);">
                    <div class="mt-auto text-center">
                      <h5 class="font-weight-normal">Photo Studio</h5>
                    </div>
                  </a>
                </div>

                <div class="js-slide my-3 lift-lg shadow-2-sm-hover">
                  <a class="w-100 card bg-img-hero border-0 gradient-overlay-half-black-v2 min-height-320 text-white rounded-pseudo p-3" href="#" style="background-image: url(https://images.unsplash.com/photo-1562596378-f50b09a65008?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);">
                    <div class="mt-auto text-center">
                      <h5 class="font-weight-normal">Video Shoot</h5>
                    </div>
                  </a>
                </div>

                <div class="js-slide my-3 lift-lg shadow-2-sm-hover">
                  <a class="w-100 card bg-img-hero border-0 gradient-overlay-half-black-v2 min-height-320 text-white rounded-pseudo p-3" href="#" style="background-image: url(https://images.unsplash.com/photo-1568438397894-72318e6f8674?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);">
                    <div class="mt-auto text-center">
                      <h5 class="font-weight-normal">Painting Studio</h5>
                    </div>
                  </a>
                </div>

                <div class="js-slide my-3 lift-lg shadow-2-sm-hover">
                  <a class="w-100 card bg-img-hero border-0 gradient-overlay-half-black-v2 min-height-320 text-white rounded-pseudo p-3" href="#" style="background-image: url(https://images.unsplash.com/photo-1551712744-1963ba88d303?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
                    <div class="mt-auto text-center">
                      <h5 class="font-weight-normal">Music Studio</h5>
                    </div>
                  </a>
                </div>

                <div class="js-slide my-3 lift-lg shadow-2-sm-hover">
                  <a class="w-100 card bg-img-hero border-0 gradient-overlay-half-black-v2 min-height-320 text-white rounded-pseudo p-3" href="#" style="background-image: url(https://images.unsplash.com/photo-1447758902204-48010b87c24d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
                    <div class="mt-auto text-center">
                      <h5 class="font-weight-normal">Sculpting Studio</h5>
                    </div>
                  </a>
                </div>
              </div>
              <!-- End Slick Carousel -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Experiences -->


    <!-- Featured properties -->
    <div class="container space-2">
      <!-- Title -->
      <div class="row align-items-end mb-6">
        <div class="col-sm-8">
          <h2 class="text-lh-xs">Featured Spaces</h2>
          <p class="mb-sm-0">Curated creative spaces in your city.</p>
        </div>

        <div class="col-sm-4 text-sm-right">
          <a class="btn btn-primary rounded-pill btn-wide transition-3d-hover" href="#">See more spaces</a>
        </div>
      </div>
      <!-- End Title -->

      <div class="row">
          <div class="cards-grid p-3 flex-grow-1">
                <% @spaces.each do |space| %>
                <%= render '/spaces/card', space: space %>
                <% end %>
          </div>
      </div>
    </div>

    <!-- End Featured properties -->

    <!-- Benefits -->
    <div class="overflow-hidden">
      <div class="container border-top">
        <div class="row no-gutters align-items-center">
          <div class="col-lg-5 mb-5 mb-lg-0">
            <h6 class="text-uppercase font-weight-medium letter-spacing-0_06 mb-3">Benefits</h6>
            <h2 class="text-lh-xs mb-4">Why Studioo.space?</h2>

            <!-- Benefits List -->
            <ul class="list-unstyled mb-7">
              <li class="d-flex align-items-start mb-5">
                <div class="mt-2">
                  <span class="u-icon u-icon--secondary u-icon--sm rounded-circle">
                    <span class="u-icon__inner">1</span>
                  </span>
                </div>
                <div class="ml-3">
                  <p class="mb-0">Every day we uncover new, creative spaces - from neighborhood galleries to hidden rooftops and beyond.</p>
                </div>
              </li>

              <li class="d-flex align-items-start mb-5">
                <div class="mt-2">
                  <span class="u-icon u-icon--secondary u-icon--sm rounded-circle">
                    <span class="u-icon__inner">2</span>
                  </span>
                </div>
                <div class="ml-3">
                  <p class="mb-0">Our spaces are priced to fit your budget. Pay by the hour without worrying about hidden fees.</p>
                </div>
              </li>

              <li class="d-flex align-items-start mb-5">
                <div class="mt-2">
                  <span class="u-icon u-icon--secondary u-icon--sm rounded-circle">
                    <span class="u-icon__inner">3</span>
                  </span>
                </div>
                <div class="ml-3">
                  <p class="mb-0">No more messy contracts. We build the tools to make booking a space as easy as the click of a button.</p>
                </div>
              </li>
            </ul>
            <!-- End Benefits List -->
          </div>
          <div class="col-lg-6 offset-lg-1">
            <div class="position-relative h-100 vw-lg-50">
              <img class="img-fluid w-100 rounded rounded-lg-right-0" src="https://images.unsplash.com/photo-1486413869840-a99ac0a4c031?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=671&q=80" alt="Image Description">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Benefits -->

    <!-- CTA -->
    <div class="text-center space-2 space-3--lg bgxp">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <!-- Card -->
            <article class="card shadow-sm h-md-100 px-4 py-7 border-top-0 border-left-0 border-right-0 border-bottom border-3 border-primary mb-4 mb-md-0">
              <div class="w-md-70 mx-md-auto">
                <span class="u-icon u-icon--lg u-icon--primary-soft rounded-circle mb-4">
                  <i class="svg-icon svg-icon-sm text-primary u-icon__inner">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24"></rect>
                        <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000"></path>
                        <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000"></path>
                      </g>
                    </svg>
                  </i>
                </span>

                <h3 class="text-lh-xs mb-3">Looking for a creative space to make your best work?</h3>
                <p class="text-muted mb-5">We guarantee you every aspect that you like on your space is available in here</p>
                <a class="btn btn-primary" href="#">Give it a try now</a>
              </div>
            </article>
            <!-- End Card -->
          </div>

          <div class="col-md-6">
            <!-- Card -->
            <article class="card shadow-sm h-md-100 px-4 py-7 border-top-0 border-left-0 border-right-0 border-bottom border-3 border-primary">
              <div class="w-md-70 mx-md-auto">
                <span class="u-icon u-icon--lg u-icon--primary-soft rounded-circle mb-4">
                  <i class="svg-icon svg-icon-sm text-primary u-icon__inner">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24"></rect>
                        <path d="M3.95709826,8.41510662 L11.47855,3.81866389 C11.7986624,3.62303967 12.2013376,3.62303967 12.52145,3.81866389 L20.0429,8.41510557 C20.6374094,8.77841684 21,9.42493654 21,10.1216692 L21,19.0000642 C21,20.1046337 20.1045695,21.0000642 19,21.0000642 L4.99998155,21.0000673 C3.89541205,21.0000673 2.99998155,20.1046368 2.99998155,19.0000673 L2.99999828,10.1216672 C2.99999935,9.42493561 3.36258984,8.77841732 3.95709826,8.41510662 Z M10,13 C9.44771525,13 9,13.4477153 9,14 L9,17 C9,17.5522847 9.44771525,18 10,18 L14,18 C14.5522847,18 15,17.5522847 15,17 L15,14 C15,13.4477153 14.5522847,13 14,13 L10,13 Z" fill="#000000"></path>
                      </g>
                    </svg>
                  </i>
                </span>

                <h3 class="text-lh-xs mb-3">Want to list your creative studio?<br class="d-none d-lg-inline-block"> your property?</h3>
                <p class="text-muted mb-5">Sublet your creative space in minutes to split rent and work on awesome collabs'</p>
                <a class="btn btn-primary" href="#">Let's get started</a>
              </div>
            </article>
            <!-- End Card -->
          </div>
        </div>
      </div>
    </div>
    <!-- End CTA -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <%= render "shared/footer" %>
  <%= render "shared/back_to_top" %>
