<div class="wrapper">
<div class="gradient">
<div class="home-banner">
<video autoplay muted loop id="myVideo">
<source src="https://res.cloudinary.com/dvlgiurta/video/upload/v1582857249/326-1080_djradp.mp4" type="video/mp4">
</video>
  <%= render "shared/landing_page" %>
</div>
</div>
</div>
