  <div class="header">
    <button id="button" class="btn">Send notification</button>
    <div id="notification" class="notification"></div>
  </div>


<button type="button" class="button-default show-notifications active js-show-notifications">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="32" viewBox="0 0 30 32">
    <defs>
      <g id="icon-bell">
        <button id="button" class="btn">Send notification</button>
    <div id="notification" class="notification"></div>
      </g>
    </defs>
    <g fill="#000000">
      <use xlink:href="#icon-bell" transform="translate(0 0)"></use>
    </g>
  </svg>
  <div class="notifications-count js-count"></div>
</button>
