<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h2>Please provide the following info</h2>
          <%= simple_form_for([@space, @reservation]) do |f| %>
            <%= f.input :start_on %>
            <%= f.input :end_on %>
            <%= f.submit "Confirm", class: "btn btn-primary" %>
          <% end %>
    </div>
  </div>
</div>
