.home-banner {
  background-image: url('https://res.cloudinary.com/dvlgiurta/image/upload/v1582655830/landing-img_rzvdxl.png');
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  background-image:
linear-gradient(to bottom, rgba(20, 20, 20, 0.98), rgba(20, 20, 20, 0.36), rgba(20, 20, 20, 0.73)),
url('https://res.cloudinary.com/dvlgiurta/image/upload/v1582655830/landing-img_rzvdxl.png');

}
