
  #myVideo {
  right: 0;
  bottom: 0;
  top: auto;
  min-width: 100%;
  min-height: 120%;
  position: absolute;
  z-index: -1;
}

.wrapper {
  position: absolute;
  width: 100%;
}

.gradient {
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.5),rgba(0,0,0,0.4),rgba(0,0,0,0.75));
  width: 100%;
  height: calc(100vh - 70px);
  min-height: 800px;
  object-fit: cover;
  position: absolute;
}

video {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: calc(100vh - 80px);
  min-height: 800px;
  object-fit: cover;
}


