


.home-banner {

  text-align: center;
  padding-top: 30vh;

  h1 {
    font-size: 44px;
    font-style: italic;
    font-weight: 500;
    text-shadow: 2px 5px 10px #000;
    color: #fafafa;
        line-height: 1em;
}
}
  #myVideo {

  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: -1;
}

.wrapper {
  position: absolute;
  width: 100%;
}

.gradient {
  background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.6),rgba(0,0,0,0.3),rgba(0,0,0,0.9));
  width: 100%;
  height: calc(100vh - 70px);
  min-height: 600px;
  object-fit: cover;
  position: absolute;
}

video {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: calc(100vh - 80px);
  min-height: 600px;
  object-fit: cover;
}


.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 0px 0px 0;
  padding: 15px;
  background-color: #fff;
  border: 0px;
  color: #000;
  height: 52px;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: #000;
  color: white;
}

.form-inline button:hover {
  background-color: #000;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

.mastfoot {
    color: rgba(255, 255, 255, .5);
    margin-top: 250px;
}
