.bgxp {
  background-color: black;
}

.gradient-overlay-dark-v1::before {
    background-image: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 150%);
    background-repeat: repeat-x;
}


.btn-primary:hover {
    color: #fff;
    background-color: #5500cc;
    border-color: #5500cc;
    box-shadow: 0 4px 11px rgba(55, 125, 255, 0.35);
}

.btn-primary {
    color: #fff;
    background-color: #6a00ff;
    border-color: #6a00ff;
}

.transition-3d-hover {
    transition: all 0.2s ease-in-out;
}

.btn-wide {
    min-width: 9.6875rem;
}

.transition-3d-hover:hover, .transition-3d-hover:focus {
   -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.u-go-to {
  display: none;
  position: relative;
  z-index: 100;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #6a00ff;
  color: #fff;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  opacity: 0.5;
  transition: 0.3s ease-out;
}

.u-go-to__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.u-go-to:hover, .u-go-to:focus:hover {
  color: #fff;
  opacity: 1;
}
