h1 {
  font-size: 44px;
  font-style: italic;
  font-weight: 500;
  text-shadow: 2px 2px 8px #000;
  text-align: right;
  color: #fafafa;
}

.col-lg-6 {
  padding-left: 0;
  font-family: "IBM Plex Mono"
}

.navbar {
  padding: 1rem 3rem;
}
