<input type="checkbox" class="star-input" id="1" name="review[ratings]" value="1"/>
  <label class="star-input-label" for="1">1
    <i class="fa fa-star"></i>
    <i class="fa fa-star orange"></i>
  </label>
  <input type="checkbox" class="star-input" id="2" name="review[ratings]" value="2"/>
  <label class="star-input-label" for="2">2
    <i class="fa fa-star"></i>
    <i class="fa fa-star orange"></i>
  </label>
  <input type="checkbox" class="star-input" id="3" name="review[ratings]" value="3"/>
  <label class="star-input-label" for="3">3
    <i class="fa fa-star"></i>
    <i class="fa fa-star orange"></i>
  </label>
  <input type="checkbox" class="star-input" id="4" name="review[ratings]" value="4"/>
  <label class="star-input-label" for="4">4
    <i class="fa fa-star"></i>
    <i class="fa fa-star orange"></i>
  </label>
  <input type="checkbox" class="star-input" id="5" name="review[ratings]" value="5"/>
  <label class="star-input-label" for="5">5
    <i class="fa fa-star"></i>
    <i class="fa fa-star orange"></i>
  </label>
